*.iml
.gradle
/.kotlin
/local.properties
/.idea
!/.idea/codeStyles
!/.idea/codeStyles/*
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
*.log
